<form name="todos" method="POST" action="/todos">
    <label>Title></label>
    <input type="text" placeholder="what do you want to do?" id="title" name="title" />

    <button type="submit">SUBMIT </button>
</form>